// BUTTONS
.button {
   display: inline-block;
   border: 1px solid #ccc;
   padding: 0.5rem;
   margin-bottom: 0.5rem;
   line-height: 1rem;
   text-decoration: none;
   border-radius: 2px;
   color: #333;
   border: none;
   cursor: pointer;
   text-transform: uppercase;
   box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
   background: #fff;
   &:hover {
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
      color: #333;
   }
   &:visited {
      color: #333;
   }
   &[class^="button-"]:hover, &[class^="button-"]:visited {
      color:#fff;
   }
   &--positive {
      @extend .button;
      background-color: green;
      color: #fff;
   }
   &--negative {
      @extend .button;
      background-color: red;
      color: #fff;
   }
   &--neutral {
      @extend .button;
      background-color: orange;
      color: #fff;
   }
   &--inverse {
      @extend .button;
      background-color: #333;
      color: #fff;
   }
}


button[disabled] {
   opacity: 0.3;
   &:hover {
      cursor: not-allowed;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
   }
}