// COLOURS
// variables
$primary-colour: #455662;
$secondary-colour: #5eb8ee;
$accent-colour: #d13e3e;
$background-colour: #fff;


// background colours
.primary-colour-bg {
   background: $primary-colour;
}

.secondary-colour-bg {
   background: $secondary-colour;
}

.accent-colour-bg {
   background: $accent-colour;
}

.background-colour-bg {
   background: $background-colour;
}

// text-colours
.primary-colour {
   background: $primary-colour;
}

.secondary-colour {
   background: $secondary-colour;
}

.accent-colour {
   background: $accent-colour;
}

.background-colour {
   background: $background-colour;
}