// FORMS
.form-items {
   label {
      display: block;
      font-weight: bold;
      margin-bottom: 0.5rem;
   }
   input {
      min-width: 100%;
      padding: 0.25rem 0.5rem;
      border: 1px solid #ccc;
   }
   input[type=checkbox], input[type=radio] {
      min-width:0;
      padding:0;
   }
   li {
      margin-bottom: 1rem;
   }
   li:last-of-type {
      margin-bottom: 0;
   }
}

::-webkit-input-placeholder {
   font-style: italic;
}

::-moz-placeholder {
   font-style: italic;
}

:-ms-input-placeholder {
   font-style: italic;
}

:-moz-placeholder {
   font-style: italic;
}