// STYLEGUIDE

$styleguide-primary-colour: black;
$styleguide-secondary-colour:black;

// styleguide themes
.styleguide-dark-theme {
	background: $styleguide-primary-colour;
	color:white;
	a {
		color:white;
		text-decoration: none;
		&:hover {
			background: lighten($styleguide-primary-colour,20%);
		}
	}
}


// styleguide typography
.styleguide-heading {
	color: $styleguide-secondary-colour;
}

h1.styleguide-heading {

}

h2.styleguide-heading {
	color: #ccc;
	font-weight:100;
}

h3.styleguide-heading {
	padding-top: 2rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #ccc;
}

// styleguide colours
.styleguide-colour {
   padding: 2rem 1rem;
   margin-bottom: 1rem;
}

// styleguide header
.styleguide-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
	.styleguide-menu-toggle {
		padding: 0.5rem 1rem;
	    font-size: 1.5rem;
	}
	&__logo img {
		max-height: 2rem;
	    padding: 0 1rem;
	    margin-top: 1rem;
	    margin-bottom: 1rem;
	}
}

// styleguide-header
.styleguide-header {
	position:fixed;
}

// styleguide-sidebar
.styleguide-sidebar {
	position: fixed;
    width: 100%;
    height: 100vh;
    top: 4rem;
    left: 0;
    z-index: 1;
    overflow: scroll;
    display: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-align: center;
    padding: 1rem 0;
    li a {
    	padding: 1rem;
    	display: block;
    }
    &--open {
    	display: block;
    	.styleguide-logo {
    		display: none;
    	}
    }
    
}

// styleguide body

// media queries
@media (min-width:$small-width){
	.styleguide-header {
		display: none;
	}
	.styleguide-body {
		padding-left: 300px;
		transition: 0.3s;
	}
	.styleguide-sidebar {
		display:block;
		width: 300px;
		text-align: left;
		top: 0;	
		&--open {
			.styleguide-logo {
				display: block;
			}
		}
	}
}