// TABLES
table {
   border: 1px solid #ccc;
}

tr {
   border-bottom: 1px solid #bbb;
}

th {
   background: #eee;
   font-weight: bold;
}

th,
td {
   text-align: center;
   padding: 1rem 0.5rem;
   border-right: 1px solid #ddd;
}

th:last-of-type,
td:last-of-type {
   border-right: none;
}