// TYPOGRAPHY
@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
html,
input,
textarea,
button {
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
   color: #333;
   font-family: 'Montserrat', sans-serif;
   margin-top: 1rem;
   margin-bottom: 2rem;
}

h1,
h2,
h3 {
   font-weight: bold;
}

h1 {
   font-size: 3.998em;
}

h2 {
   font-size: 2.827em;
}

h3 {
   font-size: 1.999em;
}

h4 {
   font-size: 1.414em;
}

h5 {
   font-size: 0.707em;
}

p {
   color: #333;
   line-height: 1.5em;
}

a {
   color: $primary-colour;
}

a:hover {
   color: tint($primary-colour, 30%);
}

a:visited {
   color: shade($primary-colour, 30%);
}